.container2 {
  background-color: yellow;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas: 'search';
}

.container3 {
  background-color: grey;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

.container3 > div {
  background-color: green;
}